<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
    <% if (currentUser) { %>
        Welcome <%=currentUser.username %>!
        <form class="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Log Out" >
        </form>
        <a href="/app">Continue to Beer Page</a>
    </h1>
    <% } else { %>
      <h2>Please</h2>
        <a href="/users/new">Register</a>
        <h3>or</h3>
        <a href="/sessions/new">Log In</a>
    <% } %>
      </ul>
    </nav>
  </body>
</html>
