<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Beer App</h1>
    <nav>
      <ul>
        <li><a href="/sessions/new">Log In</a></li>
        <li><a href="/users/new">Register</a></li>
      </ul>
    </nav>    
  </body>
</html>
