<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ../partials/head.ejs %>
</head>
  <body>

    <div class="headerContainer">

      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" class="button">
      </form>

      <h1>Add A New Beer</h1>

      <form action="/beers" >
        <input type="submit" name="" value="Index Page" class="button">
      </form>

    </div>

    <div class="containerContainer">

      <form action="/beers" method="POST" class="newForm">
        Beer Name: <input type="text" name="name" class="inputBox" /><br/>
        Type: <input type="text" name="type" class="inputBox" /><br/>
        Brewery: <input type="text" name="brewery" class="inputBox" /><br/>
        Image Link: <input type="text" name="image" class="inputBox" /><br/>
        Description: <input type="text" name="description" class="inputBox" /><br/>
        Rating: <input type="number" name="rating" class="inputBox" /><br/>
        Notes: <input type="text" name="notes" class="inputBox" /><br/>
        <input type="submit" value="Add Beer" class="button">
      </form>

    </div>
  </body>
</html>
